.screen-below {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &.close {
    opacity: 0;
    visibility: hidden;
  }
}

.modal {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 800px;
  transition: transform 0.2s ease;

  &.open {
    transform: translateY(-100px);
  }

  &.close {
    transform: translateY(0);
  }

  .modal-header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-color: #003e5b;

    h2 {
      font-size: 18px;
      margin: 0;
      color: #003e5b;
    }
  }

  .modal-body {
    margin: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal-line {
    width: 100%;
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 10px 0;
  }

  .Button {
    display: flex;
    margin-right: 0px;
    justify-content: flex-end;

    .Cancel {
      background-color: #fff;

      .custom-content {
        color: #009ae3;
      }
    }
  }
}