.input-my-container {
  min-width: 298px;
  border: 1px solid rgb(180, 180, 180);
  align-items: center;
  display: flex;
  border-radius: 8px;
  height: 38px;

  input {
    font-size: 14px;
    width: 100%;
    border: none;
    &:focus {
      outline: none;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }

  img {
    height: 24px;
    margin-left: 8px;
    margin-right: 8px;
  }

  &:hover {
    border-color: #007bb6;
  }
}

.input-focus {
  border-color: #005c88;
}
