.custom-input {
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    padding: 0 12px;
    box-sizing: border-box;
    background-color: #d6d6d6;
    max-width: 200px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
  
    &:hover {
      border-color: #009ae3;
    }
  
    input {
      width: 100%;
      outline: none;
      border: none;
    }
  }
  
  .custom-input-focus {
    border-color: #005c88;
  }
  