
header {
    .head-container {
      background-color: #007bb6;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    //   .logo {
    //     mask-image: url(./assets/logo_cmc.png);
    //     mask-size: cover;
    //     width: 168px;
    //     background: white;
    //     aspect-ratio: 9.5/2;
    //     margin: 10px;
    //     margin-left: 20px;
    //   }
    //   .name {
    //     mask-image: url(./assets/name.png);
    //     mask-size: cover;
    //     width: 86px;
    //     background: white;
    //     aspect-ratio: 9.5/2;
    //     margin: 10px;
    //     margin-left: 20px;
    //   }
    }
  }
  body {
    margin: 10px;
    .Fillter {
      margin-bottom: 10px;
      display: flex;
      flex: row;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
    }
  }