.custom-button {
    background-color: #009AE3;
    border: none;
    border-radius: 8px;
    padding: 11px 24px;
    gap: 8px;
    cursor: pointer;

    .custom-content {
        color: white;
        font-weight: 600;
        line-height: 18px;
        font-size: 14px;
    }

    img {
        width: 30px;
        height: 30px;
    }

    &:hover {
        background-color: #007BB6;
    }

    &:active {
        background-color: #005C88;
    }

    &:disabled {
        background-color: #F5F5F5;
        cursor: not-allowed;

        .custom-content {
            color: #ADADAD;
        }
    }
}