.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth; // Cuộn mượt
  transition: all 0.3s ease-in-out;
  .Loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    &.active {
      opacity: 1;
      z-index: 1000;
    }

    .modal {
      padding: 20px;
      border-radius: 8px;
      text-align: center;
    }
  }
  
.content {
  position: relative; //để hiển thị tooltip menu
  display: flex;
  flex: 1;
  height: calc(100vh - 55px);
}

.menu {
  background-color: #f4f4f4;
  

}
.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  // background: #fff; // Màu nền để không bị trong suốt
  z-index: 1000;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  .menu-container-open {
    height: 100vh;}
    .menu-container-closed {
      height: 100vh;
      
    }
}

.main {
  flex: 1; /* Chiếm toàn bộ không gian còn lại */
  // overflow: auto; /* Đảm bảo có thể cuộn */
  // height: 100vh; /* Đặt chiều cao cho phép cuộn */
}

.fixed-main {
  position: relative;
  
}
.menuopen {
  padding-left: 310px;
  transition: padding-left 0.3s ease-in-out;
}

.menuclosed {
  padding-left: 55px;
  transition: padding-left 0.3s ease-in-out;
}


&::-webkit-scrollbar {
  width: 4px;
}

&::-webkit-scrollbar-track {
  background: transparent; // Không có màu nền
}

&::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 8px;
}

&::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
}
