$table-border-color: #ddd;
$table-header-bg: #e7f1f5;
$table-header-color: #333333;
$table-row-hover-bg: #ddd;
$table-even-row-bg: #f5f5f5;
.container {
  display: flex;
  justify-content: center;
  
  .wrapper {
    width: 100%;
    height: 75vh;
    // overflow-y: auto;
    // &::-webkit-scrollbar {
    //   width: 4px;
    //   height: 64px;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: #d6d6d6;
    //   border-radius: 4px;
    // }

    // &::-webkit-scrollbar-thumb:hover {
    //   background-color: hsl(0, 0%, 33%);
    // }

    table {
      width: 100%;
      border-spacing: 0px;
      
      thead {

        th {
          background-color: $table-header-bg;
          color: $table-header-color;
          padding: 8px;
          border: 1px solid $table-border-color;
          border-top: none;
          font-weight: 38px;
          text-align: left;
          font-size: 14px;
          font-family: Source Sans 3 !important;
          font-weight: 400;

          &:first-child {
            border-top-left-radius: 8px;
            border-left: none;
          }

          &:last-child {
            border-top-right-radius: 8px;
            border-right: none;
            display: flex;
            justify-content: center;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: $table-even-row-bg;
          }

          &:hover {
            background-color: $table-row-hover-bg;
          }

          td {
            border: none;
            padding: 8px;
            text-align: left;
          }
        }
      }
    }
  }
}