.input-dropdown {
  display: inline-block;
  position: relative; // Đặt position relative để dropdown list bám vào đây
 
  .input-show {
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    overflow: hidden;
    background-color: #ffffff;
    width: 444px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      border-color: #009ae3;
      background-color: #ffffff;
    }
    &:active {
      background-color: #ffffff;
    }

    .flex-between {
    display: flex;
     align-items: center;
      width: 100%;
      justify-content: space-between;

      .dropdown {
        position: relative;
        margin-left: auto; 
        .dropdown-icon {
          width: 12px;
          height: 6px;
          cursor: pointer;
          transition: transform 0.3s linear;
        }
        
      }

      .selected-text {
        color: #adadad;
        margin-right: 8px;
      }
    }
  }

  .dropdown-list {
    position: absolute;
    top:40px;
    width: 444px;
    border-radius: 8px;
    background: #ffffff;
    list-style: none;
    padding: 0;
    transition: all linear 0.1s;
    overflow: hidden;
    overflow-y: auto;
    max-height: 380px; 
    left: 10px;  
    &::-webkit-scrollbar { 
      width: 4px; 
      height: 64px;
    }

    &::-webkit-scrollbar-track { 
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb { 
      background-color: #D6D6D6;
      border-radius: 4px; 
    }

    &::-webkit-scrollbar-thumb:hover { 
      background-color: #555;
    }
    li {
      transition: all linear 0.1s;
      cursor: pointer;
      text-align: left; 
      &:hover {
        background-color: #f8f5f5;
      }
      &.selected-option {
        background-color: #CCEBF9;
       
      }
    }
  }

  .dropdown-list-open {
    border: 1px solid #ccc;

    li {
      padding: 8px;
      height: auto;
    }
  }

  .dropdown-list-close {
    height: 0px;
    border: none;

    li {
      padding: 0;
      height: 0px;
    }
  }
}
