.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &.close {
    opacity: 0;
    visibility: hidden;
  }
}

.modal-content {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 800px;
  transform: translateY(-20px);
  transition: transform 0.3s ease;

  &.open {
    transform: translateY(-100px);
  }

  &.close {
    transform: translateY(0);
  }

  h1 {
    font-size: 18px;
    color: #003e5b;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
  }

  .form-input {
    display: flex;
    justify-content: space-between;
    max-height: 300px;
    height: 120px;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    .enter-text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 45%;
      h2 {
        display: flex;
        justify-content: start;
        align-items: center;
        max-height: 10px;
        font-size: 14px;
        font-weight: 400;
        p {
          color: red;
          font-size: 14px;
        }
      }
      .custom-input {
        img {
          display: none;
        }
        input {
          padding-left: 10px;
        }
      }
    }

    .drop-option {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 45%;
      h2 {
        display: flex;
        justify-content: start;
        align-items: center;
        max-height: 10px;
        font-size: 14px;
        font-weight: 400;
        p {
          color: red;
          font-size: 14px;
        }
      }

      .drop-field-salary {
        width: 100%;

        .input-dropdown {
          width: 100%;
          .custom-btn {
            &:hover {
              background-color: white;
            }
          }
        }
      }
    }
  }

  .form-btn {
    display: flex;
    margin-top: 10px;
    justify-content: end;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    .btn-exit {
      width: 100px;
      background-color: #dfe1e2;
      &:hover {
        background-color: #ccc;
      }
      .label {
        color: rgb(0, 97, 144);
      }
    }

    .btn-save {
      width: 100px;
    }
  }
}
