.modal-warning-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &.close {
    opacity: 0;
    visibility: hidden;
  }

  .modal-delete {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    min-width: 300px;
    transform: translateY(70px);
    transition: transform 0.3s ease;

    &.open {
      transform: translateY(0px);
    }

    &.close {
      transform: translateY(70px);
    }

    h1 {
      font-size: 20px;
      color: #1CB4A2;
      padding: 0px 10px;
    }

    .form-input {
      display: flex;
      justify-content: center;
      max-height: 300px;
      padding-left: 20px;

      h2 {
        font-size: 16px;
        font-weight: 400;
        margin-right: 20px;
      }
    }

    .form-btn {
      display: flex;
      margin-top: 10px;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      gap: 8px;
      .btn-exit {
        width: 109px;
        height: 50px;
        background-color: #ffffff;
        border: 1px solid #1CB4A2;

        &:hover {
          background-color: #ccc;
        }
        .label {
          color: #1CB4A2;
          font-size: 18px;
        }
      }

      .btn-delete {
        width: 109px;
        height: 50px;
        background-color: #1CB4A2;
        .label {
          color: #ffffff;
          font-size: 18px;
        }
      }
    }
  }
}
