.login-container {
  // background-image: url("../../Assets/Image/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;


  .Loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.active {
      opacity: 1;
      z-index: 1000;
    }

    .modal {
      padding: 20px;
      border-radius: 8px;
      text-align: center;
    }
  }

  .notice-error {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 1s linear;
  }
.form-background{
  background-image: url("../../Assets/Image/image.png");
  background-size: cover;
  width:40%;
  height: 100vh;
  background-position: center;
  position: relative;
  
}
  .form-login {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    background-color:#00485A;
    .modal-login{   
      width: 600px;
      height: 600px;
      background-color:#00485A;
      padding: 70px 80px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      position: relative;
      img{
        display: block;
        margin: auto;
      }
      .input-area {
        margin-top: 60px;
        h1 {
          font-weight: 600;
        }
          
        .input-field {
          height: 200px;
          display: flex;
          align-items: center;
          flex-direction: column;
          // gap: 50px;
          .input-container {
            padding-left: 10px;
            border-radius: 20px;
            width:500px;
            height:60px;
            img {
              width: 0;
              overflow: hidden;
              padding: 0;
              margin: 0;
            }
          }
          .username {
            p{
              top:15px;
              position: relative;
              font-weight: bold;
              font-size:18px;
              color:#349E75;
            }
            .tooltip {
              // transform: translateY(-40px) translateX(170px);
              position: absolute;
              // right: 0;
              // background-color: rgba(255, 111, 111, 1);
              // color: white;
              color: red;
              border-radius: 4px;
              width: 200px;
              opacity: 1;
              transition: all 0.3s ease;
              z-index: 1000;
              // clip-path: polygon(12px 0, 100% 0, 100% 100%, 12px 100%, 0 50%);
              white-space: nowrap;
              overflow: hidden;
              &.hidden {
                height: 18px;
                width: 0px;
                overflow: hidden;
                opacity: 0;
              }
            }
          }
          .password {
            p{
              top:15px;
              position: relative;
              font-weight: bold;
              font-size:18px;
              color:#349E75;
            }
            .tooltip {
              // transform: translateY(-40px) translateX(220px);
              position: absolute;
              // right: 0;
              // background-color: rgba(255, 111, 111, 1);
              color: red;
              border-radius: 4px;
              width: 170px;
              opacity: 1;
              transition: all 0.3s ease;
              z-index: 1000;
              // clip-path: polygon(12px 0, 100% 0, 100% 100%, 12px 100%, 0 50%);
              white-space: nowrap;
              overflow: hidden;
              &.hidden {
                height: 18px;
                width: 0px;
                overflow: hidden;
                opacity: 0;
              }
            }
          }
        }
      }
      .btn-login {
        display:flex;
        padding-top:100px;
        position: relative;
        left:45px;
        .custom-btn {
          width: 100px;
          height: 40px;
          background-color: #349E75;
        }
      }
    }
    
 
  }
}
