.success {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #52a83c;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 12px;
  transition: all 0.5s linear;
  &.open {
    width: 320px;
    opacity: 1;
    transform: translateX(10px);
    overflow: hidden;
  }
  &.close {
    width: 0px;
    overflow: hidden;
    opacity: 0;
    transform: translateX(0px);
  }

  .success__icon {
    width: 24px;
    height: 24px;
    transform: translateY(0px);
    margin-right: 8px;
    path {
      fill: #fff;
    }
  }

  .success__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }

  .success__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
    path {
      fill: #fff;
    }
  }
}
